:root {
   
  }

  * {
    color: black;

  } 

  body {
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  /* Default Heading Settings */
  h1 {
    font-size: 2rem;
    font-family: 'Fredoka One', cursive;
    flex-basis:auto;
  } 
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    min-width: fit-content;
    
    
  }
  /* End of Default Heading Settings */
/* Banner image */
  /* Information Segments */
  section {
    border-bottom: solid 2px grey;
    
  }
  
  article {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  article h2,h3,p {
    margin:1%;
    right: 5%;
  }

  .headings{
   margin: 1%;
   padding: 0 1% 0 1%;
   border: dashed;
  }

  .aboutmedetails{
    flex-shrink: 1;
    align-items: center;
   
}
 
  #bannerimage { 
    width: 100%;
    height: auto;
    opacity: 0.3;
  }

  header {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    padding: 1%;
  }

  header h1,h2 {
    padding:1%;
    }
  
  nav {  
  }

  nav ul {
   display: flex;
   justify-content: flex-end
   flex;
   min-width: 300px;
  }

  ul a {
    margin:0% 1% 0% 1%;
  }
  
  nav a {
    color: var(--dark-blue);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  nav a:hover {
    background-color: grey;
    color: white;
  }

  header h1:hover {
    cursor:pointer;
  }

  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
  
  