:root {
   
  }

  * {
    color: black;
  } 

  body {
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  /* Default Heading Settings */
  h1 {
    font-size: 2rem;
    font-family: 'Fredoka One', cursive;
    flex-basis:auto;
  } 
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    min-width: fit-content;  
  }
  /* End of Default Heading Settings */

  /* Banner image */
  /* Information Segments */
  section {
    padding: 0 16px;
    
  }
  
  article {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  article h2,h3,p {
    margin:1%;
    right: 5%;
  }

  .headings{
    flex: 1 0 200px;
    display: flex;
    justify-content: flex-end;
    margin-right: 16px;
  }

  .sectionlabel {
    padding: 8px;
    border: dashed;
  }

  .aboutmedetails{
    flex-shrink: 1;
    align-items: center;
  }
  .imagewrapper{
    position:relative;
  }

  .imagelabel {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

  #bannerimage { 
    width: 100%;
    height: auto;
    opacity: 0.3;
  }

  header {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
  }

  header h1,h2 {
    padding:1%;
    }
  
  nav {  
  }

  .divider {
    border-bottom: solid 2px grey;
    width: 100%;
  }
  
  .mainnav {
   display: flex;
   justify-content: center;
   min-width: 300px;
  }

  ul a {
    margin:0% 1% 0% 1%;
  }
  
  nav a {
    color: var(--dark-blue);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    transition: 200ms ease-in-out;
  }
  
  nav a:hover {
    background-color: grey;
    transition: 200ms ease-in-out;
    }

  nav li{
    height: 100%;
    width: 100%;
    transition: 200ms ease-in-out;
    display:flex;
  }

  nav li:hover{
    color: white;
    transition: 200ms ease-in-out;
   }

  header h1:hover {
    cursor:pointer;
  }

  @media screen and (max-width: 768px) {
    header {
      flex-direction:column;
    }
    main, nav {
      flex-direction: column;
      justify-content: center;
    }
  }
  
  